<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.mapper.CustomerFormMapper">

    <resultMap id="CustomerFormResultMap" type="com.phoenix.entity.CustomerFormInfo" >
        <id property="id" column="cfi_id" />
        <result property="formName" column="cfi_formName" />
        <result property="formDescribe" column="cfi_formDescribe" />
        <result property="status" column="cfi_status" />
        <collection property="customerFormElementList" ofType="com.phoenix.entity.CustomerFormElement">
            <id property="id" column="cfe_id" />
            <result property="columnType" column="cfe_columnType" />
            <result property="title" column="cfe_title" />
            <result property="log" column="cfe_log" />
            <result property="req" column="cfe_req" />
            <result property="value" column="cfe_value" />
            <result property="items" column="cfe_items" />
        </collection>
    </resultMap>

    <sql id="infoColumns">
        cfi.id AS "cfi_id",
        cfi.formName AS "cfi_formName",
        cfi.formDescribe AS "cfi_formDescribe",
        cfi.status AS "cfi_status"
    </sql>

    <sql id="elementColumns">
        cfe.id AS "cfe_id",
        cfe.columnType AS "cfe_columnType",
        cfe.title AS "cfe_title",
        cfe.log AS "cfe_log",
        cfe.req AS "cfe_req",
        cfe.value AS "cfe_value",
        cfe.items AS "cfe_items"
    </sql>

    <sql id="customerFormInfoJoins">
        left join customer_form_info cfi on cf.customer_form_info_id = cfi.id
    </sql>

    <sql id="CustomerFormElementJoins">
        left join customer_form_element cfe on cf.customer_form_element_id = cfe.id
    </sql>

    <select id="findList" resultMap="CustomerFormResultMap">
        select
            <include refid="infoColumns" />,
            <include refid="elementColumns" />
        from customer_form cf
            <include refid="customerFormInfoJoins" />
            <include refid="CustomerFormElementJoins" />
        <where>
            <if test="formName != null and formName !=''">
                and cfi.formName like CONCAT('%',#{formName},'%')
            </if>
            <if test="status != null and status !=''">
                and cfi.status = #{status}
            </if>
        </where>
    </select>
</mapper>